*.s
*.o
*.bc
*.dtm
*.so
*.so.*
*.swp
*.gch
src/dale/Config\.h
dale-bindgen
dalec
daleci
CMakeFiles
CMakeCache
CMakeCache.txt
Makefile
cmake_install.cmake
install_manifest.txt
build
doc/html
doc/2-
doc/3-
doc/drt.md
a.out
Config.h
.ninja_deps
.ninja_log
build.ninja
rules.ninja
module-to-markdown
src/doxygen_sqlite3.db
src/html
src/latex
core
*.core
callgrind.out.*
